html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
}
*, *::before, *::after {
    box-sizing: border-box;
}
div {
    display: block;
    border: 0.1em solid black;
    text-align: center;
}
div.top {
    width: 100%;
    height: 10%;
    background-color: royalblue;
}
div.left {
    float: left;
    width: 30%;
    height: 80%;
    background-color: yellow;
}
div.middle {
    width: 40%;
    height: 80%;
    float: left;
}
div.right {
    float: right;
    width: 30%;
    height: 80%;
    background-color: yellow;
}
div.bottom {
    width: 100%;
    height: 10%;
    background-color: royalblue;
    float: left;
}